.wrapper-form{
  height: 512px;
  width: 572px;
  display: flex;
  background-color: #01380F;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title{
  font-family: 'Roboto', serif;
  margin-top: 70px ;
  margin-right: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F3E699;
}

.colorTitle{
  color: #F3E699;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.form-area{
  margin-bottom: 100px;
  margin-top: 20px;
}

.name-label{
  color: #F3E699;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.input-form{
  margin-bottom: 20px;
  width:355px;
  height: 40px;
  border: 1px solid #005B18;
  box-shadow: 0px 0px 0px 2px #70DC8C;
  border-radius: 4px;
}

input::placeholder{
  color: #419658;
  font-family: 'Roboto',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}


.wrap-other{
  display: flex;
  justify-content: center;

}
.remember{
  margin-right: 155px;
  color: #F3E699;
  font-family: 'Roboto',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}

.forgot-link{
  text-decoration: none;
  color: #F3E699;
  font-family: 'Roboto',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  margin-left: 20px;
}
.wrapper-button{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-enter{
  width: 334px;
  height: 51px;
  background: #F3E699;
  border-radius: 8px;
  font-family: 'Poppins',serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  /* identical to box height */


  text-transform: uppercase;

  color: #05340F;
}
