<div class="wrapper-form">
  <div class="title">
    <span class="colorTitle">Faça seu login</span>
    <br>
    Entre com suas informações de cadastro.
  </div>


  <form action="" class="form-area" >

    <div class="name-label">Email</div>
    <div>
      <label for="email">
        <input class="input-form" id="email" placeholder="Digite seu e-mail" type="text">
      </label>
    </div>


    <div class="name-label">Password</div>
    <div>
      <label for="password">
        <input type="text" id="password" placeholder="Digite sua senha" class="input-form" >
      </label>
    </div>


    <div class="wrap-other">
      <input type="checkbox" class="input-remember"> <span class="remember">Lembre-me</span>

      <a href="" class="forgot-link">Forgot the password</a>
    </div>

    <div class="wrapper-button">
      <button type="submit" class="btn-enter">Enter</button>
    </div>
  </form>
</div>
