.container{
  display: flex;
  justify-content:center;

}

app-login-form{
  margin-top: 100px;
}

.wrapper-img{
  height: 690px;
  width: 500px;
  margin-left: 100px;
}

img{
  height: 100%;
  width: 100%;

}
