/* You can add global styles to this file, and also import other style files */
body{
background-color: #002C00;
  max-height: 690px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
